<!-- Blog Search Well -->
<div class="well">
    <h4></h4>
    <div class="row" style="text-align:center; letter-spacing:10px;">

      {% if site.twitter_username %}

          <a class="btn" href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter fa-2x"></i>
          </a>

      {% endif %}

      {% if site.github_username %}

          <a class="btn" href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-2x"></i>
          </a>

      {% endif %}

      {% if site.google_plus_username %}

          <a class="btn" href="https://plus.google.com/{{ site.google_plus_username }}">
            <i class="fa fa-google-plus fa-2x"></i>
          </a>

      {% endif %}

    {% if site.facebook_username %}

        <a class="btn" href="https://www.facebook.com/{{ site.facebook_username }}">
          <i class="fa fa-facebook fa-2x"></i>
        </a>

    {% endif %}


    </div>
    <!-- /.row -->
</div>

<!-- Blog Categories Well -->
<div class="well">
    <h4>Recent Posts</h4>
    <div class="row">
            <ul>
            {% for post in site.posts limit:5 %}
                <li><a href="{{site.baseurl}}{{post.url}}"style="font-weight:bold;">{{post.title}}</a></li>
            {% endfor %}
          </ul>

    </div>
    <!-- /.row -->
</div>

<!-- Side Widget Well -->
<div class="well">
    <h4>Subscribe</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
</div>
