<div class="well">
    <h4></h4>
    <div class="row" style="text-align:center; letter-spacing:10px;">

      {% if site.twitter_username %}

          <a class="btn" href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter fa-2x"></i>
          </a>

      {% endif %}

      {% if site.github_username %}

          <a class="btn" href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-2x"></i>
          </a>

      {% endif %}

      {% if site.google_plus_username %}

          <a class="btn" href="https://plus.google.com/{{ site.google_plus_username }}">
            <i class="fa fa-google-plus fa-2x"></i>
          </a>

      {% endif %}

    {% if site.facebook_username %}

        <a class="btn" href="https://www.facebook.com/{{ site.facebook_username }}">
          <i class="fa fa-facebook fa-2x"></i>
        </a>

    {% endif %}


    </div>
    <!-- /.row -->
</div>
