---
layout: default
---

<h2> <a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a> </h2>
<p>Girish Unnithan
<span class="glyphicon glyphicon-time"></span> <time itemprop="dateCreated" datetime="{{page.date}}">{{ page.date | date: "%B %-d, %Y" }}</time></p>
<hr>

{{ content }}
<div class="well">
<p style="font-weight:bold;">Share this</p>

</div>

<div>
  <ul class="pager">
    {% if page.previous.url %}
    <li class="next"><a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a></p>
    {% endif %}
    {% if page.next.url %}
    <li class="previous"><a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a></p>
    {% endif %}
  </ul>
</div>
